.container {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: auto;  /* Add this property */
}

.items{
	width: 10em;
}

.solid{
	border-style: solid;
	text-align: center;
}

table, th, td {
  border: 1px solid;
  table-layout: flex;
}